<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <style>
    p {
      padding: 20px;
    }

    h1 {
      text-align: center;
      padding: 50px;
    }

    h3 {
      padding-left: 50px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Works</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <h1>Works of Pablo Picasso</h1>

  <h3>Middle Years: 1900-1940</h3>
  <p>In 1900, Picasso first went to Paris, the center of the European art scene.
    He shared lodgings with
    Max Jacob, a
    poet and journalist who took the artist under his wing. The two lived in abject poverty, sometimes reduced to
    burning the artist's paintings to stay warm.
    <br>
    Before long, Picasso relocated to Madrid and lived there for the first part of 1901. He partnered with his friend
    Francisco Asis Soler on a literary magazine called "Young Art," illustrating articles and creating cartoons
    sympathetic to the poor. By the time the first issue came out, the developing artist had begun to sign his artworks
    "Picasso," rather than his customary "Pablo Ruiz y Picasso."
    <br>
    Blue Period
    The Picasso art period known as the Blue Period extended from 1901 to 1904. During this time, the artist painted
    primarily in shades of blue, with occasional touches of accent color. For example, the famous 1903 artwork, The Old
    Guitarist, features a guitar in warmer brown tones amid the blue hues. Picasso's Blue Period works are often
    perceived as somber due to their subdued tones.
    <br>
    Historians attribute Picasso's Blue Period largely to the artist's apparent depression following a friend's suicide.
    Some of the recurring subjects in the Blue Period are blindness, poverty and the female nude.
    <br>
    Rose Period
    The Rose Period lasted from 1904 through 1906. Shades of pink and rose imbued Picasso's art with a warmer, less
    melancholy air than his Blue Period paintings. Harlequins, clowns and circus folk are among the recurring subjects
    in these artworks. He painted one of his best-selling works during the Rose Period, Boy with a Pipe. Elements of
    primitivism in the Rose Period paintings reflect experimentation with the Picasso art style.
  </p>

  <h3>Later Years: 1940-1973</h3>
  <p>During World War II, Picasso remained in Paris under German occupation, enduring Gestapo harassment while he
    continued to create art. Some of the time, he wrote poetry, completing more than 300 works between 1939 and 1959. He
    also completed two plays, "Desire Caught by the Tail," and "The Four Little Girls."
    <br>
    After Paris was liberated in 1944, Picasso began a new relationship with the much younger art student Francoise
    Gilot. Together, they produced a son, Claude, in 1947, and a daughter, Paloma, in 1949. Their relationship was
    doomed like so many of Picasso's previous ones, however, due to his continual infidelities and abuse.
    <br>
    He focused on sculpture during this era, participating in an international exhibition at the Philadelphia Museum of
    Art in 1949. He subsequently created a commissioned sculpture known as the Chicago Picasso, which he donated to the
    U. S. city.
    <br>
    In 1961, at the age of 79, the artist married his second and last wife, 27-year-old Jacqueline Roque. She proved to
    be one of his career's greatest inspirations. Picasso produced more than 70 portraits of her during the final 17
    years he was alive.
    <br>
    As his life neared its end, the artist experienced a flurry of creativity. The resulting artworks were a mixture of
    his previous styles and included colorful paintings and copper etchings. Art experts later recognized the beginnings
    of Neo-Expressionism in Picasso's final works.
    <br>
    Picasso's Influence on Art
    As one of the greatest influences on the course of 20th-century art, Pablo Picasso often mixed various styles to
    create wholly new interpretations of what he saw. He was a driving force in the development of Cubism, and he
    elevated collage to the level of fine art.
    <br>
    With the courage and self-confidence unhindered by convention or fear of ostracism, Picasso followed his vision as
    it led him to fresh innovations in his craft. Similarly, his continual quest for passion in his many romantic
    liaisons throughout his life inspired him to create innumerable paintings, sculptures and etchings. Picasso is not
    just a man and his work. Picasso is always a legend, indeed almost a myth. In the public view he has long since been
    the personification of genius in modern art. Picasso is an idol, one of those rare creatures who act as crucibles in
    which the diverse and often chaotic phenomena of culture are focussed, who seem to body forth the artistic life of
    their age in one person.
  </p>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>